html,body {
    height: 100%;
    background-color: #3c415e;
}

#master {
    height: 75%;
    vertical-align: baseline;
    padding-top: 10%;
}

#root {
    height: 100%;
}

.fix-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #000;
  }
  
  .color-selector button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  